pyspark==3.5.0
kafka-python==2.0.2
cassandra-driver==3.28.0
prometheus-client==0.16.0
python-dotenv==1.0.0
avro-python3==1.10.2
websockets==11.0.3
pandas==2.1.0
numpy==1.24.3
pyarrow==14.0.1
findspark==2.0.1
python-json-logger==2.0.7
confluent-kafka==2.3.0